img {
  width: 200px;
  height: auto;
  border-radius: 5px;
}

#turtle, #rabbit {
  display: none;
}

#ok-to-ride, #too-tall {
  display: none;
}

h1 {
  color: crimson;
}
li {
  background-color: #ffff00;
}
